<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Tomori Pomf{% endblock %}</title>
  </head>
  <body>
    <main>
	<div>
  {% if user.is_authenticated %}
    <a href="/logout">logout</a><br>
  {% else %}
    <a href="/signup">Register</a></br>
    <a href="/login">login</a><br>
  {% endif %}
  <a href="/user">user</a><br>
  <a href="/">home</a><br>
	{% block content %}
    <h2> File upload </h2>
    <form method="post" action="/upload" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="files[]"><br>
      <button type="submit">submit</button>
    </form>
	{% endblock %}
	</div>
    </main>
  </body>
</html>
